@font-face {
    font-family: 'Gotham Pro';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/GothamPro-Bold.eot');
    src: url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro-Bold.woff') format('woff'),
        url('fonts/GothamPro-Bold.ttf') format('truetype');
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page {
    width: 1920px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.top-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000000;
}

.top-background__image {
    object-fit: cover;
}

/* HEADER */

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__hamburger-menu {
    margin-right: 22px;
    cursor: pointer;
}

.hamburger-menu {
    width: 80px;
    height: 80px;
    background-color: #5C6266;
}

.hamburger-menu__line {
    position: relative;
    top: 31px;
    left: 31px;
    width: 20px;
    height: 3px;
    background-color: #ffffff;
}

.hamburger-menu__line--middle {
    margin-top: 4px;
}

.hamburger-menu__line--bottom {
    margin-top: 4px;
}
.header__logo {
    margin-right: 98px;
}

.logo {
    width: 121px;
    height: 50px;
}

.header__main-navigation {
    margin-right: 645px;
}

.header__nav-link {
    margin-right: 75px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
}

.header__phone-link {
    margin-right: 78px;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    color: #ffffff;
}

.header__phone-span {
    font-weight: normal;
}

/* HERO SECTION */

.hero {
    padding-top: 319px;
    height: 1000px;
}

.hero__inner-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 54px;
    margin-left: 161px;
}

.hero__title {
    margin-bottom: 33px;
    font-size: 96px;
    font-weight: bold;
    line-height: 134px;
    color: #ffffff;
}

.hero__title-first-word {
    color: #FFCB05;
}

.hero__text {
    font-size: 25px;
    line-height: 51px;
    color: #ffffff;
}

.hero__menu {
    margin-top: 106px;
    cursor: pointer;
}

.hero__menu-long-line {
    margin-bottom: 22px;
    width: 80px;
    height: 2px;
    background-color: #FFCB05;
}

.hero__menu-line {
    margin-bottom: 20px;
    margin-left: auto;
    width: 40px;
    height: 2px;
    background-color: #ffffff;
}

/* LIGHT-THEMED HEADER */

.header--light-theme {
    background-color: #ffffff;
}

.header__nav-link--light-theme, 
.header__phone-link--light-theme {
    color: #5C6266;
}

/* ABOUT US */

.about-us {
    height: 464px;
    padding-top: 38px;
}

.about-us__title {
    margin-left: 160px;
    font-size: 18px;
    font-weight: bold;
    line-height: 37px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.about-us__text-wrapper {
    margin-top: 54px;
    margin-left: 320px;
}

.about-us__text {
    width: 1280px;
    font-size: 25px;
    line-height: 51px;
    color: #101010;
}

.learn-more {
    display: block;
    margin-top: 56px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}

.learn-more::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    left: 17px;
    width: 7px;
    height: 7px;
    border-right: solid 1px #000000;
    border-bottom: solid 1px #000000;
    transform: rotate(-45deg);
}

/* PRODUCTS */

.products {
    display: flex;
    flex-basis: 33.3%;
}

.product {
    position: relative;
    width: 642px;
    height: 760px;
}

.product__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #000000;
}

.product__background-image {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
}

.product__inner-wrapper {
    margin-top: 58px;
    margin-left: 61px;
}

.product__title {
    margin-bottom: 53px;
    font-family: 'Gotham Pro', Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    color: #ffffff;
}

.product__list {
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    list-style: none;
}

.product__list-item {
    position: relative;
    margin-bottom: 22px;
}

.product__list-item::before {
    content: "";
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 4px;
    height: 1px;
    width: 10px;
    border-top: 1px solid #ffffff;
}

.learn-more--white {
    color: #ffffff;
}

.learn-more--white::after {
    left: 25px;
    border-color: #ffffff;
}
