* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page {
    width: 1920px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.top-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000000;
}

.top-background__image {
    object-fit: cover;
}

/* HEADER */

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__hamburger-menu {
    margin-right: 22px;
    cursor: pointer;
}

.hamburger-menu {
    width: 80px;
    height: 80px;
    background-color: #5C6266;
}

.hamburger-menu__line {
    position: relative;
    top: 31px;
    left: 31px;
    width: 20px;
    height: 3px;
    background-color: #ffffff;
}

.hamburger-menu__line--middle {
    margin-top: 4px;
}

.hamburger-menu__line--bottom {
    margin-top: 4px;
}
.header__logo {
    margin-right: 98px;
}

.logo {
    width: 121px;
    height: 50px;
}

.header__main-navigation {
    margin-right: 645px;
}

.header__nav-link {
    margin-right: 75px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
}

.header__phone-link {
    margin-right: 78px;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    color: #ffffff;
}

.header__phone-span {
    font-weight: normal;
}

/* HERO SECTION */

.hero {
    padding-top: 319px;
    height: 1000px;
}

.hero__inner-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 54px;
    margin-left: 161px;
}

.hero__title {
    margin-bottom: 33px;
    font-size: 96px;
    font-weight: bold;
    line-height: 134px;
    color: #ffffff;
}

.hero__title-first-word {
    color: #FFCB05;
}

.hero__text {
    font-size: 25px;
    line-height: 51px;
    color: #ffffff;
}

.hero__menu {
    margin-top: 106px;
    cursor: pointer;
}

.hero__menu-long-line {
    margin-bottom: 22px;
    width: 80px;
    height: 2px;
    background-color: #FFCB05;
}

.hero__menu-line {
    margin-bottom: 20px;
    margin-left: auto;
    width: 40px;
    height: 2px;
    background-color: #ffffff;
}

/* LIGHT-THEMED HEADER */

.header--light-theme {
    background-color: #ffffff;
}

.header__nav-link--light-theme, 
.header__phone-link--light-theme {
    color: #5C6266;
}

/* ABOUT US */

.about-us__title {
    margin-top: 38px;
    margin-left: 160px;
    font-size: 18px;
    font-weight: bold;
    line-height: 37px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.about-us__text-wrapper {
    margin-top: 54px;
    margin-left: 320px;
}

.about-us__text {
    width: 1280px;
    font-size: 25px;
    line-height: 51px;
    color: #101010;
}

.about-us__learn-more {
    display: block;
    margin-top: 56px;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}

.about-us__learn-more::after {
    content: url("img/arrow-right.svg");
    position: relative;
    top: 2px;
    left: 18px;
    width: 5px;
    height: 10px;
}

